* {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

/* <!-- styling header section  --> */

header {
  width: 100%;
  background: rgba(255, 144, 14, 0.1);
  margin-bottom: 50px;
  padding-bottom: 65px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-heading {
  margin-top: 40px;
  font-weight: 700;
  font-size: 40px;
}


.nav-tabs {
  margin-top: 60px;
  display: flex;
  gap: 50px;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}

.nav-tabs a {
  text-decoration: none;

}

/* styling banner section  */

.banner-description {
  padding: 100px 200px;
  text-align: center;
}

.banner-heading {
  font-weight: 700;
  font-size: 64px;
}

.banner-paragraph {
  font-weight: 400;
  font-size: 16px;
}

.banner-btn {
  font-weight: 600;
  font-size: 20px;
  padding: 16px 25px;
  color: #FFFFFF;
  margin-top: 30px;
  background: #FF900E;
  border-radius: 8px;
  border: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* styling main section  */

.main-top-section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 50px;
  margin-bottom: 70px;
}

.left {
  width: 35%;
}

.right {
  width: 35%;
}

.team-images {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding-left: 120px;
}

.top-heading {
  margin-top: 18px;
  font-weight: 600;
  font-size: 45px;
}

.first-one {
  color: #727272;
}

.second-color {
  color: #FF900E;
}

.top-paragraph {
  margin-top: 20px;
  color: #727272;
}

.banner-btn {
  margin-top: 20px;
}

/* styling article section  */

.article-section {
  width: 100%;
  display: flex;
  margin-bottom: 100px;
}

.flex-item {
  width: 50%;
}

.img {
  width: 50%;
}

.descriptions {
  margin-left: 50px;
}

.article-heading {
  margin-left: 25px;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 10px;
  border-left: 5px solid gold;
  padding-left: 25px;
}

.article-description {
  margin-left: 25px;
  margin-bottom: 20px;
}

.cart {
  background: white;
  border-radius: 10px;
  padding: 15px 30px;
  width: 450px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  margin-left: 68px;
}

.cart-heading {
  margin-bottom: 10px;
}

.btn-div {
  position: relative;
}

.extra-btn {
  background: #FF900E;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  padding: 20px 40px;
  font-weight: 700;
  font-size: 35px;
  transform: translateY(-60%);
}

/* styling facts section  */

.fact-info {
  margin-left: 68px;
}

.facts-heading {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 20px;
}


.activities {
  width: 45.22px;
  padding: 25px 45px;
  border: 1px solid #FF900E;
  border-radius: 8px;
}

.activities:hover {
  transform: rotate(100deg);

}

.boxes {
  display: flex;
  justify-content: space-between;
  padding: 80px 200px;
}

.activities-name {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.number {
  font-weight: 600;
  font-size: 45px;
}

.archived-name {
  font-weight: 600;
  font-size: 20px;
  color: #727272;
}

/* styling footer section  */

.sponsors-title {
  text-align: center;
  width: 100%;
  height: 30vh;
}

.sponsors-heading {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 20px;
}

.sponsors-dis {
  color: #727272;
}

.company-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px 100px;
}

.company-icons img {
  width: 120px;
}

.last-title {
  padding: 20px 100px;
}

.footer-title {
  font-weight: 400;
  font-size: 20px;
  color: #424242;
  text-align: center;
  background: #FFF4E7;
  border-radius: 8px;
  padding: 20px 80px;
}