* {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

/* <!-- styling header section  --> */

header {
  width: 100%;
  background: rgba(255, 144, 14, 0.1);
  margin-bottom: 50px;
  padding-bottom: 65px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-heading {
  margin-top: 40px;
  font-weight: 700;
  font-size: 40px;
}


.nav-tabs {
  margin-top: 60px;
  display: flex;
  gap: 50px;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}

.nav-tabs a {
  text-decoration: none;

}

/* styling banner section  */

.banner-description {
  padding: 100px 200px;
  text-align: center;
}

.banner-heading {
  font-weight: 700;
  font-size: 64px;
}

.banner-paragraph {
  font-weight: 400;
  font-size: 16px;
}

.banner-btn {
  font-weight: 600;
  font-size: 20px;
  padding: 16px 25px;
  color: #FFFFFF;
  margin-top: 30px;
  background: #FF900E;
  border-radius: 8px;
  border: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* styling main section  */

.main-top-section {
  display: flex;
  gap: 70px;
  padding: 50px;
  width: auto;
}

.team-images {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding-left: 120px;
}

/* styling article section  */

.article-section {
  width: 100%;
  display: flex;
  margin-bottom: 100px;
}

.flex-item {
  width: 50%;
}

.img {
  width: 50%;
}

.descriptions {
  margin-left: 50px;
}

.article-heading {
  margin-left: 25px;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 10px;
  border-left: 5px solid gold;
  padding-left: 25px;
}

.article-description {
  margin-left: 25px;
  margin-bottom: 20px;
}

.cart {
  background: white;
  border-radius: 10px;
  padding: 15px 30px;
  width: 450px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  margin-left: 68px;
}

.cart-heading {
  margin-bottom: 10px;
}

/* styling facts section  */

.fact-info {
  margin-left: 68px;
}

.facts-heading {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 20px;
}


.activities {
  width: 45.22px;
  border: 2px solid red;
  padding: 25px 45px;
  border-radius: 5px;
}


.boxes {
  display: flex;
  justify-content: space-between;
  padding: 80px 150px;
}